*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Segoe UI', sans-serif;

  --clr-background: #ebebeb;
  --clr-background-light: #ffffff;

  --clr-text: #181818;
  --clr-text-light: #5a5a5a;

  --clr-accent: #ff9900;
  --clr-accent-light: #ffae00;
}

body {
  background: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--font-family);
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Effects */

.tilted {
  transform: rotate(-15deg);
}

hr {
  border-top: 2px solid var(--clr-text-light);
}

/* Page */

.page {
  min-height: 70vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.page-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Typography */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

.text-muted {
  color: var(--clr-text-light);
}

.dash-above {
  position: relative;
}

.dash-above::after {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-color: var(--clr-accent);
}

/* Spacing */

.pad-x {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pad-y {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Container */

.container {
  width: 100%;
  max-width: 1024px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Button */

.btn {
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  font-size: 1.25rem;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
}

.btn:hover {
  background-color: var(--clr-accent-light);
  border-color: var(--clr-accent-light);
}

/* Flex */

.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-row {
  flex-direction: row;
}

.flex-row > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex-col {
  flex-direction: column;
}

.flex-col > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* Article */

.article {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article-img {
  height: 16rem;
  display: block;
}

.article-img:first-child {
  transform: rotate(-2.5deg);
  box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

.article-img:last-child {
  transform: rotate(2.5deg);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

.article-body {
  padding: 1rem 2rem;
  min-width: 18rem;
}

@media (max-width: 768px) {
  .article {
    flex-direction: column;
  }

  .article-img {
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Testimonials */

.testimonial {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.testimonial-img {
  width: 4rem;
  border-radius: 50%;
}

.testimonial-body {
  padding: 1rem 2rem;
}

.testimonial-quote {
  width: 100%;
}

.testimonial-author {
  font-weight: bold;
  margin-left: 0.5rem;
}

.testimonial-author::before {
  content: '- ';
}
